<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Voltar</a></li>
        </ul>
    </nav>
    <h1>Relatório de usuário</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Idade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span th:text="${user.nome}"></span></td>
                <td><span th:text="${user.idade}"></span></td>
            </tr>
        </tbody>
    </table>
</body>
</html>