<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de usuário</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Voltar</a></li>
        </ul>
    </nav>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <fieldset>
            <legend>Cadastro de usuário</legend>
            
            <label for="nome">Nome</label>
            <input type="text" th:field="*{nome}" id="nome" placeholder="Digite seu nome...">
            <label for="idade">Idade</label>
            <input type="text" th:field="*{idade}" id="idade" placeholder="Digite sua idade...">

            <button type="submit">Submeter</button>
        </fieldset>
    </form>
</body>
</html>